<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="ConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\ASP.NET\ASSIGNMENT_4\App_Data\Student_Detail.accdb"
            providerName="System.Data.OleDb" />
        <add name="ConnectionString3" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\ASP.NET\ASSIGNMENT_4\App_Data\Student_Detail.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
